{% load static %}

<html>
<head>
  <title>Live Weather Radar / Predictor</title>
  <script src="https://cdn.jsdelivr.net/npm/ol@v9.0.0/dist/ol.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.0.0/ol.css">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class = 'container' style = "height: 100%; margin-left: 1vw;">
    <div class = 'row'>
      <div class = 'col-5'>
        <h3>CS 395: Live Weather Radar</h3>
        <div class = "button-container">
          <button>All Features Map</button>
          <button>Temperature Map</button>
          <button>Wind Map</button>
          <button>Humidity Map</button>
        </div>
      </div>
      <div class = 'col-3'>
        <form method="post">
          <div id="searchPlace">
              {% csrf_token %}
              <input id="cityInput" name = 'cityInput' placeholder="Enter A Country, City, Or State" type="text"/>
              <button for="cityInput"  type="submit">Search Place</button>
          </div>
        </form>
      </div>
    </div>
    <div class = 'row' style="height: 90vh; width: 90vw">
      <div class = 'col-9'>
        <div id="map" style="height: 85vh; width: 65vw"></div>
        <script type = "text/javascript">
          var map = new ol.Map({
            target: 'map',
            layers: [
              new ol.layer.Tile({
                source: new ol.source.OSM()
              })
            ],
            view: new ol.View({
              center: ol.proj.fromLonLat(['{{ city_weather_update.lon }}', '{{ city_weather_update.lat }}']),
              zoom: 13.5
            })
          });
        </script>
      </div>
      <div class = 'col-3'>
        <h1><b>{{ city_weather_update.city}}</b></h1>
        <h3><b>Description: </b>{{ city_weather_update.description}}</h3>
        <h3><b>Temperature: </b>{{ city_weather_update.temperature}}</h3>
        <h3><b>Wind: </b>{{ city_weather_update.wind}}</h3>
        <h3><b>Humidity: </b>{{ city_weather_update.humidity}}</h3>
      </div>
    </div>
  </div>
</body>
</html>
