{% load static %}

<html>
<head>
  <title>Live Weather Radar / Predictor</title>
  <script src="https://cdn.jsdelivr.net/npm/ol@v9.0.0/dist/ol.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.0.0/ol.css">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class = 'container' style = "height: 100%; margin-left: 1vw;">
    <div class = 'row'>
      <div class = 'col-5'>
        <h3>CS 395: Live Weather Radar</h3>
        <h5>Last Updated: {{ date.date }}</h5>
      </div>
      <div class = 'col-3'>
        <form method="post">
          <div id="searchPlace">
              {% csrf_token %}
              <input id="cityInput" name = 'cityInput' placeholder="Enter A Country, City, Or State" type="text"/>
              <button for="cityInput"  type="submit">Search Place</button>
          </div>
        </form>
      </div>
    </div>
    <div class = 'row' style="height: 90vh; width: 85vw">
      <div class = 'col-9' style="position:relative">
        <div id="map" style="height: 100%; width: 100%;"></div>
        <script type = "text/javascript">
          /**
          *
          * This script is used for display the map, and displaying points on the map
          *
          **/
          var map = new ol.Map({
            target: 'map',
            layers: [
              new ol.layer.Tile({
                source: new ol.source.TileJSON({
                  url: 'https://api.maptiler.com/maps/basic-v2/tiles.json?key=U6osgvYMOlDTHjF5wgGc',
                  tileSize: 512
                })
              })
            ],
            view: new ol.View({
              center: ol.proj.fromLonLat(['{{ city_weather_update.lon }}', '{{ city_weather_update.lat }}']),
              zoom: 13.5
            })
          });
        </script>
        {% for p in place%}
        <script>
          console.log("PRINTED FROM OTHER SCRIPT")
          map.addLayer(new ol.layer.Vector({
            source: new ol.source.Vector({
              features: [
                new ol.Feature ({
                  geometry: new ol.geom.Point(
                    ol.proj.fromLonLat((['{{ p.long }}', '{{ p.lat }}']))
                  )
                })
              ],
            }),
            style: new ol.style.Style({
              image: new ol.style.Icon({
                anchor: [0.2, 0.5],
                crossOrigin: 'anonymous',
                src: '{{ p.iconWeb}}'
              })
            })
          }))
        </script>
        {% endfor %}
      </div>
      <div class = 'col-3' Style="position:absolute; transform: translate(10%, 20%); background-image:linear-gradient(gray, white);border-radius: 25px;">
		
        <h1><b>{{ city_weather_update.city}}</b></h1>
        <h3><b>Description: </b>{{ city_weather_update.description}}</h3>
        <h3><b>Temperature: </b>{{ city_weather_update.temperature}}</h3>
        <h3><b>Wind: </b>{{ city_weather_update.wind}}</h3>
        <h3><b>Humidity: </b>{{ city_weather_update.humidity}}</h3>
        <h1><b>Places to visit in {{ city_weather_update.city }}</b></h1>
        {% for l in list_places %}
          <h3>{{ l }}</h3>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
